/* Police utilisée */
@font-face
{
    font-family: 'Raleway';
    src: url('Raleway-VariableFont_wght.ttf') format('truetype'),
         url('Raleway-Italic-VariableFont_wght.ttf') format('truetype'),
}

/* Réglages généraux */
body{
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}
a :hover{
    color: blue;
}
#bloc-page{
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: center;
    border: 1px green solid;
}

/* Décorations entête */
#entête{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: auto;
}

/* Navigation */
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav li{
    margin-right: 15px;
}
nav a{
    font-size: 1.5em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

/* Titre */
#titrepage{
    margin: auto;
}

/* Recherche*/
#recherche{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    border: 1px black solid;
    border-radius: 40px / 40px;
    padding: 2px;
}
#recherche h2{
    background-color: #0065FC;
    color: white;
}

/* Filtres*/
#filtres{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}
#bouttons-filtres{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
}
.icone{
    background:  #F2F2F2;
}
.bouttons{
    display: flex;
    align-items: center;
    border: 1px black solid;
    border-radius: 20px;
    padding-inline: 20px;
}
#info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25%;
}
.iconeinfo{
    border: 1px #F2F2F2 solid;
    border-radius: 1000%;
    color: #0065FC;
    padding: 6px 12px 6px;
}
/* section 1*/
#main-content{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
#resultats{
    border: 1px transparent solid;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 75%;
}
#populaires{
    border: 1px transparent solid;
    width: 25%;
    background-color: #F2F2F2;
    border-radius: 20px;
}
#activités{
    border: 1px black solid;
}

/* Décorations pied de page */
footer{
    background-color: #F2F2F2;
}
footer ul{
    list-style-type: none;
    padding-left: 0px;
}
footer a{
    color: black;
}
#footer-content{
    display: flex;
    width: 95%;
    justify-content: center;
    border: 1px black solid;
}
#footer-apropos{
    width: 33%;
}
#footer-hebergements{
    width: 33%;
}
#footer-assistance{
    width: 33%;
}