/* Police utilisée */
@font-face
{
    font-family: 'Raleway';
    src: url('Raleway-VariableFont_wght.ttf') format('truetype'),
         url('Raleway-Italic-VariableFont_wght.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

/* Réglages généraux */
body{
    font-family: 'Raleway', sans-serif;
}
#bloc-page{
    width: 90%;
    margin: auto;
}
a{
    text-decoration: none;
}
a :hover{
    color: blue;
}

/* Décorations entête */
#entête{
    display: flex;
    justify-content: space-between;
}

nav{
    display: flex;

}
#recherche{
    display: flex;
}

/* Décorations pied de page */
footer{
    display: flex;
    background-color: #F2F2F2;
}
footer ul{
    list-style-type: none;
    padding-left: 0px;
}
footer a{
    color: black;
}
#footer-apropos{
    width: 33%;
}
#footer-hebergements{
    width: 33%;
}
#footer-assistance{
    width: 33%;
}